h1 {
    color: white;
    text-transform: uppercase;
    font-family: "arial", "sans-serif";
    font-size: 75px;
    text-align: center;
    background-color: orange;
    margin: 0;
    padding: 15 px 0;
}

body {
    background-color: #232323;
    margin: 0;
}

p {
    font-family: "arial", "sans-serif";
    text-transform: uppercase;
    color: whitesmoke;
    background-color: orange;
    text-align: center;
    word-spacing: 3px;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 50px;
    margin-top: 0;
    font-weight: bold;
    display: none;
}

button {
    height: 100%;
    background: none;
    border: none;
    margin: 0 20%;
    padding: 3px 10px;
    font-size: inherit;
    outline: none;
}

button:hover {
    background-color: orange;
    color: white;
}

#main {
    height: 500px;
    width: 500px;
    margin: 30px auto;
}

.box {
    width: 30%;
    height: 10%;
    background-color: white;
    padding-bottom: 20%;
    float: left;
    margin: 3px;
    transition: background-color 2s;
}



#strip {
    text-align: center;
    background-color: white;
    text-transform: uppercase;
}

.x {
    background-image: url("../img/x.png");
    background-size: cover;
}

.o {
    background-image: url("../img/o.png");
    background-size: cover;
}

.win {
    background-color: lightgreen;
}

span {
    font-family: "arial";
    height: 100%;
    margin: 0;
    padding: 4px;
}

.active {
    background-color: orange;
    color: white;
}
