
html,body{
    height: 100%;
    width: 100%;
}
h1 {
    color: white;
    text-transform: uppercase;
    font-family: "arial", "sans-serif";
    font-size: 5em;
    text-align: center;
    background-color: orange;
    margin: 0 auto;
    padding: 15 px 0;
}

body {
    background-color: #232323;
    margin: 0;
}

p {
    font-family: "arial", "sans-serif";
    text-transform: uppercase;
    color: whitesmoke;
    background-color: orange;
    text-align: center;
 
    word-spacing: 3px;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 50px;
    margin-top: 0;
    font-weight: bold;
    display: none;
    width: 100%;
}

button {
    height: 100%;
    background: none;
    border: none;
    margin: 0 20%;
    padding: 3px 10px;
    font-size: inherit;
    outline: none;
}

button:hover {
    background-color: orange;
    color: white;
}

#main {
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.box {
    width: 30%;
    height: 0;
    background-color: white;
    padding-bottom: 30%;
    float: left;
    margin: 3px;
}



#strip {
    text-align: center;
    background-color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.x {
    background-image: url("../img/x.png");
    background-size: cover;
}

.o {
    background-image: url("../img/o.png");
    background-size: cover;
}

.win {
    background-color: lightgreen;
}

span {
    font-family: "arial";
    height: 100%;
    margin: 0;
    padding: 4px;
}

.active {
    background-color: orange;
    color: white;
}

@media only screen and (max-width: 768px) {
    #strip{
        height: 30px;
        margin-bottom: 10%;
    }
    #main{
        width: 80%;
    }
    
    h1{
        padding-top:10px;
        height: 15%;
        font-size: 3em;
    }

    span{
        padding: 7px;
    }

    p{
        position: absolute;
        bottom: 0;
    }
    .active{
        padding: 7px 10px;
    }
    button{
        margin: 0 10%;
        width: 20%;
    }
    button:hover {
            background: none;
            border: none;
            color: black;
    }

}
